@import '../../../../../assets/style/style.scss';

.playlist-item {
	width: 400px;
	height: 77px;
	border-radius: 20px;
	display: flex;
	padding: 30px 20px;
	align-items: center;

	@include mq(992px) {
		width: 100%;
	}

	p {
		font-family: 'Poppins';
		font-size: 20px;
		font-style: normal;
		font-weight: 600;
	}

	background-color: $sand;
	margin: 0 0 30px 0px;
	background: lightgray 50% / cover no-repeat;

	.image-text-container {
		position: relative;
		margin-right: -70px;

		.main-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.text-overlay {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		z-index: 1;
		display: flex;
		margin-left: 25px;

		p.number {
			font-size: 35px;
			font-style: normal;
			font-weight: 700;
		}

		p.text {
			font-size: 11px;
			font-style: normal;
			font-weight: 700;
		}
	}
}
