<div class="playlist-item" style="background-image: url('../../../../../assets/images/rectangle\ gold.png');">
	<img src="../../../../../assets/icons/updated/horse icon.png" width="60" height="60">
	<p>Play on table with</p>
	<img src="../../../../../assets/icons/updated/gold-coins.png">
	<div class="image-text-container">
		<img class="main-img" src="../../../../../assets/icons/updated/{{imageList[index - 1]}}.png">
		<div class="text-overlay">
			<div>
				<p class="number" [textContent]="index * 5">20</p>
				<p class="text">chesscoin</p>
			</div>
			<img src="../../../../../assets/icons/updated/coin gold.png" width="50px" height="50px">
		</div>
	</div>
</div>