@import '../../../../../assets/style/style.scss';

.presentation-playlist {
	width: 425px;

	p {
		color: #01dc17;
		font-family: Poppins;
		font-size: 25px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
	}

	.playlist-menu {
		padding: 11px 87px;
	}
}
