<div class="gradient-background">
	<div class="section-block presentation-section">
		<div class="wrapper presentation-wrapper">
			<app-welcome></app-welcome>
			<div class="main-area">
				<app-main-menu></app-main-menu>
			</div>
			<img alt="chess-win-presentation-image" class="presentation-image"
				src="../../../../../assets/images/presentation-image.png" />
		</div>
		<div class="wrapper are-you-ready-wrapper">
			<h1 class="main-title text-light-pink">
				{{ languageLabels?.descriptionTitle }}
			</h1>

			<div class="content-box">
				<p class="paragraph text-light-pink">
					{{ languageLabels?.descriptionParagraph1 }}
				</p>

				<p class="paragraph text-sand">
					{{ languageLabels?.descriptionParagraph2 }}
				</p>

				<p class="paragraph text-light-pink">
					{{ languageLabels?.descriptionParagraph3 }}
				</p>

				<p class="paragraph text-light-pink">
					{{ languageLabels?.descriptionParagraph4 }}
				</p>

				<p class="paragraph text-light-pink">
					{{ languageLabels?.descriptionParagraph5 }}
				</p>

				<p class="paragraph text-light-pink">
					{{ languageLabels?.descriptionParagraph6 }}
				</p>

				<p class="paragraph text-light-pink">
					{{ languageLabels?.descriptionParagraph7.paragraph1 }}
					{{ languageLabels?.descriptionParagraph7.coloredParagraph1 }}
					{{ languageLabels?.descriptionParagraph7.paragraph2 }}
					<a class="link text-dodger-blue" href="mailto:support@chess-win.com">
						{{ languageLabels?.descriptionParagraph7.coloredParagraph2 }}
					</a>
					{{ languageLabels?.descriptionParagraph7.paragraph3 }}
				</p>
			</div>
		</div>
	</div>
</div>