@import "../../../../../assets/style/style.scss";

.gradient-background {
	.faq-section {
		position: relative;
		box-sizing: border-box;
		background-size: 100%;

		.faq-wrapper {
			padding: 42px 0px 110px;

			.title-area {
				margin-bottom: 80px;

				@include mq(576px) {
					.title-desktop {
						display: none;
					}
				}

				.main-title {
					color: white;
					padding-top: 30px;

					@include mq(576px) {
						color: $sand;
						padding-top: 10px
					}
				}

				.text-gradient {
					color: $sand;
				}

				.sub-title {
					font-size: 25px;
					color: #D2D2D2;
					text-align: center;
					padding: 40px 30px 10px;
					line-height: normal;

					@include mq(576px) {
						font-size: 20px;
					}
				}

				@include mq(576px) {
					margin-bottom: 50px;
				}
			}

			.accordion-area {
				width: 100%;
				max-width: 940px;
				margin: 0 auto !important;
				border-radius: 10px;
				border: 2px solid #F7AC65;
				background: #071522;

				.accordion-container {
					display: flex;
					flex-direction: column;
					padding: 27px 17px;

					.accordion-item {
						width: 100%;
						display: flex;
						flex-direction: column;
						background: #1F394B;
						border: 2px solid $sand;
						border-radius: 6px;
						box-sizing: border-box;
						transition: all ease 0.5s;
						-webkit-transition: all ease 0.5s;
						-moz-transition: all ease 0.5s;
						cursor: pointer;
						margin-bottom: 24px;

						&:last-child {
							margin-bottom: 0;
						}

						.accordion-header {
							height: 50px;
							display: flex;
							box-sizing: border-box;
							padding: 13px 16px;

							.accordion-title {
								width: 100%;
								display: flex;
								justify-content: space-between;
								align-items: center;

								.paragraph {
									font-family: "aileron-bold", sans-serif;
									line-height: 24px;
									white-space: nowrap;
									overflow: hidden;
									text-overflow: ellipsis;
								}
							}
						}

						.accordion-body {
							padding: 12px 75px 24px 16px;
							box-sizing: border-box;

							@include mq(576px) {
								padding-right: 25px;
							}

							.paragraph-short {
								font-family: "aileron-regular", sans-serif;
							}
						}
					}

					.show-body {
						height: auto;
					}

					.hide-body {
						height: 0;
						padding: 0 !important;
						visibility: hidden;
						overflow: hidden;
					}

					.icon-down {
						transform: rotate(90deg);
					}
				}
			}
		}
	}
}