<div class="gradient-background">
	<div class="section-block presentation-section">
		<div class="wrapper presentation-wrapper">
			<img alt="chess-win-presentation-image" class="presentation-image"
				src="../../../../../assets/images/presentation-image.png" />
			<app-welcome></app-welcome>
			<h1 class="sub-title">Contact us if you have any questions, problems or even ideas to improve the game.</h1>
			<div class="contact-area">
				<h1>Contact Us</h1>
				<h2>
					Please contact at
					<a href="mailto:support@chess-win.com">support@chess-win.com</a>
				</h2>
				<div>
					<div class="guerra-ltd">
						<p>
							10 Park lawn rd <br />
							Toronto, Ontario <br />
							M8V 0H9, Canada
						</p>

						<p>
							Phone Number: <br />
							+1647-705-5700
						</p>
					</div>
					<div class="guerra-ltd">
						<p>We are available for contact from 9am-5pm CET, Monday - Saturday</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>