@import '../../../../assets/style/style.scss';

.side-nav {
	width: 306px;
	min-width: 300px;
	min-height: 100vh;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-right: 2px solid rgb(23, 45, 63);

	@include mq(1024px) {
		display: none;
	}
}

.side-nav::ng-deep {
	@include custom-scrollbar;
}

.profile-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.logo-container {
	width: 100%;
	padding: 40px 0 25px 0;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		outline: none;
	}
}

.main-content {
	background-image: url(../../../../assets/images/chess-background.png);
	height: 100vh;
	overflow: auto;
	overflow-x: hidden;
	position: relative;

	@include custom-scrollbar;
}

.mat-drawer {
	background: none;

	@include mq(1024px) {
		background: #0b1b32;
	}
}

.mat-drawer-container {
	background-color: #052534;
}

.example-spacer {
	flex: 1 1 auto;
}

.header-mobile {
	display: none;
	top: 0;
	background: #071522;
	box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
	color: white;

	button {
		background-color: transparent;
	}

	@include mq(1024px) {
		display: flex;
	}
}

::ng-deep .header-menu {
	background-color: #052534;
}
