<div class="gradient-background">
	<div class="section-block presentation-section">
		<div class="wrapper presentation-wrapper">
			<div class="content-centered">
				<h1 class="main-heading text-gradient">
					{{ languageLabels?.mainTitle }}
				</h1>
			</div>
			<div class="share-link-area">
				<p class="title">Please wait, we are searching an oponent for you...</p>
				<img src="../../../../../assets/icons/updated/share-link.png">
				<button>Cancel</button>
			</div>
		</div>
	</div>
</div>