<div class="gradient-background">
	<div class="section-block presentation-section">
		<div class="wrapper presentation-wrapper">
			<img alt="chess-win-presentation-image" class="presentation-image"
				src="../../../../../assets/images/presentation-image.png" />
			<div class="content-centered">
				<h1 class="main-heading text-gradient">
					{{ languageLabels?.mainTitle }}
				</h1>
			</div>
			<div class="share-link-area">
				<p class="title">Share your link to your friend</p>
				<img src="../../../../../assets/icons/updated/share-link.png">
				<p class="paragraph">This screen will update automatically when your friend join</p>
				<button>Share</button>
				<p class="paragraph">Or copy</p>
				<div class="copy-link">https://chess-win.com/H527824</div>
			</div>
		</div>


	</div>
</div>