@import '../../../../assets/style/style.scss';

.profile-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.logo-container {
	width: 100%;
	padding: 40px 0 25px 0;
	display: flex;
	justify-content: center;
	align-items: center;

	a {
		display: flex;
		justify-content: center;
		align-items: center;
		outline: none;
	}
}

.profile {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 25px 0px;
	border-bottom: 3px solid rgb(23, 45, 63);

	&__settings-icon-container {
		position: absolute;
		right: 0;
		top: 28px;
		cursor: pointer;
	}

	&__image {
		margin-bottom: 16px;
		border: 2px solid #fff;
		border-radius: 50%;
		object-fit: cover;
		object-position: center;

		&--default {
			border: none;
		}
	}

	&__name {
		color: #fff;
	}
}

.menu-button {
	font-family: 'aileron-semibold', sans-serif;
	display: inline-block;
	text-align: left;
	vertical-align: middle;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 1px;
	cursor: pointer;
	padding: 0 16px;

	transition: 0.2s ease;
	-webkit-transition: 0.2s ease;
	-moz-transition: 0.2s ease;
}

.profile-user-name {
	padding: 0 20px;
	color: white;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: flex;
	flex-direction: column;
}

.profile-basic {
	display: flex;
}

.profile-gold {
	width: 100%;
	display: flex;
	padding: 20px 0 0 0;
	justify-content: space-around;
}

.gold-basic {
	padding: 8px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	background: #1f394b;
	img {
		width: 30px;
		height: 30px;
	}
	color: white;
	font-family: Poppins;
	font-size: 15px;
	font-weight: 700;
	line-height: normal;
}

.gold-number {
	padding-left: 15px;
}
