<div class="profile">
	<div class="profile-basic">
		<a routerLink="/" [ngStyle]="{'display':'flex','align-items': 'center'}">
			<img class="avatar-img" src="../../../../assets/icons/updated/avatar cover.png" alt="avatar cover image" />
		</a>
		<div class="profile-user-name">
			<div class="txt">
				Guest
			</div>
			<img class="flag-img" src="../../../../assets/images/flags/Canada.png" alt="flag image" />
		</div>
	</div>
	<div class="profile-gold">
		<div class="gold-basic">
			<img src="../../../../assets/icons/updated/coin gold.png" alt="coin gold image" />
			<div class="gold-number">0.00</div>
		</div>
		<div class="gold-basic">
			<img src="../../../../assets/icons/updated/coin icon plata.png" alt="coin icon plata image" />
			<div class="gold-number">966.63</div>
		</div>
	</div>
</div>