@import '../../../../assets/style/style.scss';

.profile {
	position: relative;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	padding: 25px 0px;
	border-bottom: 3px solid rgb(23, 45, 63);
	justify-content: space-between;

	&__settings-icon-container {
		position: absolute;
		right: 0;
		top: 28px;
		cursor: pointer;
	}

	&__image {
		margin-bottom: 16px;
		border: 2px solid #fff;
		border-radius: 50%;
		object-fit: cover;
		object-position: center;

		&--default {
			border: none;
		}
	}

	&__name {
		color: #fff;
	}

	@include mq(1024px) {
		flex-direction: row;
		border-bottom: transparent;
	}
}

.profile-user-name {
	padding: 0 20px;
	color: white;
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	display: flex;
	flex-direction: column;

	.flag-img {
		width: 40px;
		height: 33px;
	}

	@include mq(1024px) {
		padding: 0 10px;

		.flag-img {
			width: 25px;
			height: 20px;
		}
	}

	@include mq(576px) {
		font-size: 12px;

		.txt {
			white-space: pre-line;
			max-width: 45px;
		}
	}
}

.profile-basic {
	display: flex;

	.avatar-img {
		@include mq(1024px) {
			margin-left: 10px;
			width: 35px;
		}

		@include mq(576px) {
			margin-left: 0px;
		}
	}
}

.profile-gold {
	width: 100%;
	display: flex;
	padding: 20px 0 0 0;
	justify-content: space-around;

	@include mq(1024px) {
		padding: 0px;
		width: inherit;
		justify-content: flex-end;
	}
}

.gold-basic {
	padding: 8px;
	display: flex;
	align-items: center;
	border-radius: 5px;
	background: #1f394b;
	img {
		width: 30px;
		height: 30px;
	}
	color: white;
	font-family: 'Poppins';
	font-size: 15px;
	font-weight: 700;
	line-height: normal;
	margin: 1px 5px;

	.gold-number {
		padding-left: 15px;
	}

	@include mq(576px) {
		padding: 8px 4px;

		img {
			width: 15px;
			height: 15px;
		}
		.gold-number {
			padding-left: 6px;
			font-size: 10px;
		}
	}
}
