@import '../../../../../assets/style/style.scss';

.presentation-playlist {
	width: 425px;
	font-family: 'Poppins';

	p.header {
		color: #01dc17;
		font-style: normal;
		font-weight: 600;
		font-size: 25px;
		line-height: normal;
	}

	p {
		color: white;
		font-size: 20px;
		font-weight: 400;
	}

	.playlist-menu {
		width: 100%;
		border-radius: 10px;
		background: #1f394b;
		margin: 15px 0 25px;
		display: flex;
		flex-direction: column;
	}

	.playlist-main {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 11px 87px;
		cursor: pointer;
	}

	.playlist-item {
		display: flex;
		align-items: center;
		padding: 10px 100px;
		margin: 5px 0;
		border-bottom: 2px solid #5c899d;
		justify-content: space-around;
		color: white;
		font-family: 'Poppins';
		font-size: 20px;
		font-weight: 400;
		cursor: pointer;
	}

	.find-button {
		width: 100%;
		padding: 16px 96px;
		color: #071522;
		font-family: 'Poppins';
		font-weight: 700;
		font-size: 25px;
		border-radius: 10px;
		background: linear-gradient(180deg, #a3ca49 0%, #7eb35a 100%);
		cursor: pointer;
	}

	@include mq(992px) {
		width: 90%;
	}

	@include mq(576px) {
		.playlist-main {
			padding: 11px 38px;
		}

		p.header {
			font-size: 19px;
		}

		p {
			font-size: 18px;
		}

		.playlist-item {
			padding: 10px 50px;
			font-size: 18px;
		}

		.find-button {
			font-size: 18px;
			padding: 16px 48px;
			margin-bottom: 30px;
		}
	}
}
